body {
  margin: 0;
  height:100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
  font-family: "Sen", sans-serif;
}
.title {
  text-align: center;
}
.search-container {
  width: 400px;
  margin: 0 auto;
}
.search-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search-container input:focus {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.item .logo img {
  width: 30px;
}

.item-container {
  width: 78%;
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  border: #40a9ff;
}

.item-container .item {
  flex: 1 1 260px;
  margin: 12px;
  cursor: pointer;
}

.item-container .item .logo {
  width: 12%;
  float: left;
}
.item-container .item .name {
  width: 88%;
  float: none;
}
.item-container .item .name p {
  margin-top: 2px;
}

.selected {
  border-style: solid;
  border-color: aquamarine;
}

.scrollable {
  height: 70vh;
  overflow-y: scroll;
}

#wrapper {
  display: flex;
  align-items: center;
}

.symptoms {
  flex: 50%;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.ailments {
  flex: 50%;
  display: flex;
  justify-content: center;
  /* height: 100vh; */
}

#invisibutton {
  background: transparent;
  border: none !important;
  font-size:0;
  visibility: hidden;
}

#content_container{
  float: left;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#list{
  position: -webkit-sticky;
  position: sticky;
  top:0;
  width: 100%;
}

/* CSS */
.button-64 {
  align-items: center;
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.confirm {
  background-image: linear-gradient(144deg,#37ef50, #5B42F3 50%,#00DDEB);
}

.clear {
  background-image: linear-gradient(144deg, rgba(217,1,1,1), #5B42F3 50%, #00DDEB);
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(#37ef50, #5B42F3 50%,#00DDEB);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}
